.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);

  /** background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%); */

  /** background-image: url('./images/coffee-3.jpg');
  background-color: rgb(155, 155, 155);
  background-blend-mode: screen;
  background-size: cover; */

  /** background: 
    linear-gradient(to right, #3c3b3f 10%, #605c3c 90%), 
    linear-gradient(to right, #d2b48c 0%, rgb(139,0,0) 91%),
    url('./images/coffee-3.jpg');
  background-blend-mode: screen, difference, lighten; 
  background-size: cover;*/

  /** background-image: linear-gradient(to right, rgb(242, 112, 156) 10%, rgb(255, 148, 114) 100%); */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /** justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-menu {
  background-color: rgb(155, 155, 155);
  border-bottom: 3px solid #fff;
  display: flex;
  flex-direction: row;
  /** align-items: center; */
  padding: 50px 0px;
}

.App-menu-item {
  color: #fff;
  padding: 5px 25px;
}

/* unvisited link */
a:link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

/* visited link */
a:visited { 
  color:#fff
}